<h5>"Failure" message stub</h5>
{{ name }},
<p>
Thanks for rating your current testing solution against the CloudTest Bill of Rights.
</p>
<p>
Your score was {{ grade }}%. The average score of people who took this quiz
is {{ avg }}%.
</p>

<p>
The attached "Top 10 Decision Criteria for Selecting a Web and Mobile App
Testing Platform" white paper provides industry expert Scott Barber's
perspective on using cloud-based technologies to improve and/or simplify
application performance testing.
</p>

<p>
Please let us know if we can be of further assistance in your search for a
testing platform.
</p>

<p>
SOASTA, Inc.<br/>
www.soasta.com<br/>
<img src="http://soasta.whitetailsoftware.com:8001/images/cloudtestLogo_300dpi_onWhite.pdf.png"/>
</p>
